<!doctype HTML>
<html>

    <head>
        <title>Add Movies</title>
    </head>

    <body>
        <p>Add Movies Page: </p>
        <form action="/movies" method="POST">
            <div class="form-group">
                <label for="title">Title:</label>
                <input type="text" class="form-control" id="title">
            </div>
            <div class="form-group">
                <label for="year">Year:</label>
                <input type="number" class="form-control" id="year">
            </div>
            <div class="form-group">
                <label for="imdb">IMDB:</label>
                <input type="text" class="form-control" id="imdb">
            </div>
            <input type="submit" value="Submit" />
        </form>
    </body>

</html>